<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to  "INSAL", "#", class:"navbar-brand" %>
      </div>
      <ul class="nav navbar-nav", style="float:right">
        <li class="active"><%= link_to "Home",   static_pages_home_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><%= link_to "Login", static_pages_login_path %></button>
      </ul>
    </div>
</nav>